.dialogstab {
  grid-area: c;
  background-color: blueviolet;
  display: grid;
  grid-template-columns: 2fr 10fr;
  padding: 10px;
}

.messages {
  color: white;
}

.exactDialog {
  color: white;
}

.exactDialog:hover {
  color: coral;
}

.exactDialog:active {
  color: #213547;
}
